.todo-list {
    margin-top: 25px;
}

.todo-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    transition: all 0.3s;
}

.todo-list-item:hover {
    background-color: #E7E7F4;
}

.todo-list-item.done {
    opacity: 0.5;
    text-decoration: line-through;
}

.todo-list-item-label {
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin-left: -40px;
}